.bam_base {
   float: left !important;
}

.bam_base_A {
   background-color:#FFFF66 ;
}


.bam_base_C {
   background-color:#47D147;
   color: black;
}

.bam_base_G {
   background-color:#3399FF;
   color: black;
}

.bam_base_T {
   background-color:#FF704D;
   color: black;
}

.bam_base_N {
   background-color:black;
   color: white;
}

.bam_base_I{
   box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   border-style:solid;
   border-color:red;
   border-width: 1px;
}

.bam_base_D{
   background-color:white;
   color: black;
}

.bam_forward {
   text-transform:uppercase;
}
.bam_reverse {
   text-transform:lowercase;
}

.bam_base {
   float: left !important;
 }

 .bam_forward {
   text-transform:uppercase;
 }
 .bam_reverse {
   text-transform:lowercase;
 }

 .bam_container{
  -moz-user-select:'none';
  -webkit-user-select:'none';
  user-select:'none'
}
.bam_info_panel{
  background-color: black;
  color: white;
}